<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav
      class="p-5 bg-emerald-700 shadow md:flex md:items-center md:justify-between py-8"
    >
      <div>
        <span class="text-2xl text-white font-body">EnvGo</span>
      </div>
      <ul class="md:flex md:items-center">
        <li class="mx-4 my-6 md:my-0"></li>
        <li class="mx-4 my-6 md:my-0">
          <a href="/" class="text-xl hover:text-black duration-500 text-white">
            Home
          </a>
        </li>
        <li class="mx-4 my-6 md:my-0">
          <a
            href="/upload"
            class="text-xl hover:text-black duration-500 text-white"
          >
            Upload
          </a>
        </li>
        <li class="mx-4 my-6 md:my-0">
          <a
            href="/challenges/null"
            class="text-xl hover:text-black duration-500 text-white"
          >
            Prizes
          </a>
        </li>
        <li class="mx-4 my-6 md:my-0">
          <a
            href="/donate"
            class="text-xl hover:text-black duration-500 text-white"
          >
            Donate
          </a>
        </li>
        <li class="mx-4 my-6 md:my-0">
          <a
            href="/leaderboard"
            class="text-xl hover:text-black duration-500 text-white"
          >
            Leaderboards
          </a>
        </li>
      </ul>
    </nav>

    <div class="grid place-items-center h-screen bg-emerald-300">
      <div class="text-center">
        <h2 class="text-9xl py-8 text-white text-center">Donate</h2>
        <div class="limiter">
          <div
            class="container-login100"
            style="background-image: url('images/bg-01.jpg')"
          >
            <div class="wrap-login100">
              <form action="/donate" method="post">
                <div class="pb-8 form-group">
                  <input
                    autocomplete="off"
                    autofocus
                    class="form-control bg-white h-10 px-5 pr-10 rounded-full text-sm focus:outline-none"
                    name="donate"
                    placeholder="Donation Amount"
                    type="number"
                  />
                  <button
                    class="bg-emerald-800 hover:bg-emerald-900 text-white font-bold py-2 px-4 rounded-full"
                    type="submit"
                  >
                    Donate
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="dropDownSelect1"></div>
  </body>
</html>
