<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav
      class="p-5 bg-emerald-700 shadow md:flex md:items-center md:justify-between py-8"
    >
      <div>
        <span class="text-2xl text-white font-body">EnvGo</span>
      </div>
      <ul class="md:flex md:items-center">
        <li class="mx-4 my-6 md:my-0"></li>
        <li class="mx-4 my-6 md:my-0">
          <a href="/" class="text-xl hover:text-black duration-500 text-white">
            Home
          </a>
        </li>
        <li class="mx-4 my-6 md:my-0">
          <a
            href="/upload"
            class="text-xl hover:text-black duration-500 text-white"
          >
            Upload
          </a>
        </li>
        <li class="mx-4 my-6 md:my-0">
          <a
            href="/challenges"
            class="text-xl hover:text-black duration-500 text-white"
          >
            Prizes
          </a>
        </li>
        <li class="mx-4 my-6 md:my-0">
          <a
            href="/donate"
            class="text-xl hover:text-black duration-500 text-white"
          >
            Donate
          </a>
        </li>
        <li class="mx-4 my-6 md:my-0">
          <a
            href="/leaderboard"
            class="text-xl hover:text-black duration-500 text-white"
          >
            Leaderboards
          </a>
        </li>
      </ul>
    </nav>

    <div class="grid place-items-center h-screen bg-emerald-300">
      <div class="text-center">
        <h2 class="text-7xl py-8 text-white text-center">Leaderboard</h2>
        <div class="recommendation_list">
          {% for row in data|batch(2) %} {% for column in row %}
          <h3 class="text-3xl py-8 text-white text-center">
            {{column[1]}}) {{column[2]}}: {{column[0]}}
          </h3>
          {% endfor %} {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
