<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="grid place-items-center h-screen bg-emerald-300">
      <div class="text-center">
        <div class="limiter">
          <div
            class="container-login100"
            style="background-image: url('images/bg-01.jpg')"
          >
            <div class="wrap-login100">
              {% if data != 'good' %} {{ data }} {% endif %}
              <form action="/login/good" method="post">
                <div class="form-group">
                  <input
                    autocomplete="off"
                    autofocus
                    class="form-control"
                    name="username"
                    placeholder="Username"
                    type="text"
                  />
                </div>
                <div class="form-group">
                  <input
                    class="form-control"
                    name="password"
                    placeholder="Password"
                    type="password"
                  />
                </div>
                <button class="btn btn-primary" type="submit">Log In</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
